%p Email Addresses:
%ul.actions
  - email_addresses.each do |email|
    %li
      = email.address
      = link_to 'edit', edit_email_address_path(email), id: "edit_email"
      \|
      = link_to 'delete', email_address_path(email), method: :delete, id: "delete_email"
